/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */
body {
	background-color: #1F1E1E;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px
}

header {
	background-color: #1A1D1A;
	padding-top: 20px;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

.divider {
	border: none;
	height: 2px;
	background-color: grey;
	margin: 40px auto;
	width: 100%;
}

.navbar {
	background-color: lightgrey;
	border-radius: 50px;
	width: fit-content;
	margin: 20px auto;
	padding: 8px 30px;
}

.navbar .nav-link.active {
	color: white;   
}

.navbar a {
	color: black;
}

.navbar-nav .nav-item:not(:last-child) {
  border-right: 1px solid black;
  padding-right: 15px;           
  margin-right: 15px;            
}

nav ul li a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}

nav ul li a:hover {
	color: grey;
}

h1 {
  color: white;
  font-size: 30px;
  text-align: left;
}

h2 {
  color: white;
  font-size: 20px;
  text-align: left;
}

h3 {
  color: white;
  font-size: 20px;
  text-align: left;
}

.spaced-img {
	margin-right: 30px;
}

.profile-pic {
	height: 150px;
	width: 150px;
	display: block;
	margin: 40px auto;
	border: 5px solid black;
	border-radius: 50%;
}